html {
  box-sizing: border-box;
  transition-duration: .15s;
  transition-timing-function: ease-out;
  font-size: 2vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #261c00;
  color: #fff;
  line-height: 1.2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-property: none;
}

@media (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
